.button{
   padding: 9px 16px;
        border-radius: 4px;
        border: none;
        background-color: #003367;
        font-size: 14px;
        color: white;
        line-height: 18px;
        letter-spacing: 1.25px;
        position: absolute;
        bottom: 20px;
        right: 20px;
        &:disabled {
                background-color: #bcbcbc;
        }
}

.button_submit{
        border: none;
        border-radius: 4px;
        padding: 5px 20px;
        align-items: center;
        text-align: center;
        margin: 2.5% 0 0 30%;
        color: black;
        font-weight: 400;
        font-size: 14px;
        background-color: #d1e1f0;
}
.edit_profile_button{
        width: 20%;
        border: none;
        background-color: #003367;
        padding: 10px 0;
        border-radius: 4px;
        color: White;
        font-size: 14px;
        letter-spacing: 1.25 px;
        margin: 7px 0;
     }
     .logout_button{
        width: 8%;
        border: none;
        background-color: #FFFFFF;
        color: #003367;
        border-radius: 4px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1.25 px;
        margin: 17px 0;
        padding: 5px 0;
     }

@media screen and (max-width: 980px) {
        .edit_profile_button{
              width: 35%;
        }
        
}
     
@media screen and (max-width: 600px) {
        .edit_profile_button{
              width: 50%;
              margin: 5% auto;
        }
        .logout_button{
              margin: 5% auto;
        }
}

