.modal_div{
   display: none;
}
.time_button_div{
   display: inline-block;
   width: 18%;
   padding: 10px;
   margin: 2% 39.5%;
   
}
.time_div{
   display: inline-block;
   display: flex;
   justify-content: space-between;
   height: 70px;
   padding: 10px 5px;
   margin: 30px 0 20px 0;
}
.save_button{
   width: 100%;
   border: none;
   border-radius: 4px;
   padding: 7px 20px;
   margin: 0 auto !important;
   text-align: center;
   margin: 2.5% 0 0 30%;
   color: black;
   font-weight: 400;
   font-size: 14px;
   background-color: #d1e1f0
}
h1{
   text-align: center;
   margin: 10px 0;
   color: #003367;
   font-size: 20px;
   font-weight: 500;
   line-height: 32px;
}
.close_logo{
   position: absolute;
   top: 10px;
   right: 10px;
   display: block;
   width: 24px;
   height: 24px;
   margin: 0 auto;
   padding: 5px;
   cursor: pointer;
}
#modal-modal-description{
   margin: 20px 0 !important; 
   height: 150px;  
}
.MuiFormControl-root{
   height: 100%;
}
.MuiStack-root{
   display: flex;
   justify-content: space-between !important;
}
.MuiStack-root{
   padding: 10px !important;
}
.MuiInputBase-root{
   height: 100%;
}
.modal{
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 700px;
   height: 350px;
   background-color: white;
   border: none !important;
   outline: none !important;
   border-radius: 5px !important;
   box-shadow: 24;
   padding: 4;
}
.MuiBox-root{
   padding: 20px;
}


@media screen and (max-width: 980px){
   .modal{
      width: 600px;
      height: 300px;
   }
   .time_div{
      margin: 10px 0 20px 0;
   }
   .time_button_div{
      width: 20%;
      margin: 1% 38%;
   }
   .MuiFormControl-root{
      height: 100%;
   }
}


@media screen and (max-width: 600px){
   .modal{
      width: 350px;
      height: 310px;
   }
   .modal_form{
      height: 200px;
   }
   #modal-modal-title{
      padding: 10px;
   }
   #modal-modal-description{
      padding: 10px;
      margin: 5px 0;
   }
   .time_div{
      height: 120px;
      display: block;
      margin: 10px 0;
   }
   .MuiFormControl-root{
      height: 100%;
      margin: 2px 0;
   }
   .time_button_div{
      width: 35%;
      margin: 3% 32.5% ;
      padding: 5px;
   }
   .MuiStack-root{
      height: 40%;
   }
   .save_button{
      width: 100%;
   }
}