.profile_page {
  height: 100vh;
  overflow-x: hidden;
  margin: 0 0.5% 0 3.5% !important;
  overflow-y: auto;
  .h1_title {
    text-align: start !important;
    margin: 0.7% 1%;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color: #003367;
  }
}


@media screen and (max-width: 1300px){
  .profile_page{
    height: 100vh;
    overflow-x: hidden;
    margin: 0 0.5% 0 4.6% !important;
    overflow-y: auto;
  }
  .h1_title{
    margin: 0.7% 2% !important;
  }
}
@media screen and (max-width: 1000px) {
  .profile_page{
    height: 100vh;
    overflow-x: hidden;
    margin: 0 0.5% 0 5.8% !important;
    overflow-y: auto;
    .h1_title{
      margin: 1% 2% !important;
    }
  }
}
@media screen and (max-width: 780px){
  .profile_page{
    height: 100vh;
    overflow-x: hidden;
    margin: 0 0.5% 0 8% !important;
    overflow-y: auto;
    .h1_title{
      margin: 0.7% 3% !important;
    }
  }
}

@media screen and (max-width: 550px){
  .profile_page{
    margin: 0 2% !important;
    .h1_title{
      margin: 0.7% 2% !important;
    }
  }
}
