.user_header {
  width: 55px;
  height: 100vh;
  background-color: #003367;
  position: absolute;
  display: block;
  .header_img_div {
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    .user_header_icon {
      width: 25px;
      height: 25px;
      padding: 10px;
      margin: 6px;
      display: block;
    }
  }
  .link {
    opacity: 50%;
  }

  .active {
    opacity: 100%;
  }
}


@media screen and (max-width: 500px){
  .user_header{
    width: 100vw;
    height: 55px;
    position: relative;
    background-color: #003367;
    display: block;
    .header_img_div{
      height: 55px;
      display: flex;
      flex-direction: inherit;
      justify-content: space-around;
    }
  }
}
