.user_page_content{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   .user_page_img{
      padding: 20px;
      width: 600px;
      height: 43%;
      margin: 7% 0 2% 0;
   }
   .h2_title{
      font-family: Montserrat;
      width: 50%;
      color: #003367;
      text-align: center;
      font-size: 40px;
      line-height: 32px;
      font-weight: 300px;
      padding: 5px 0;
   }
   .edit_profile_button{
      width: 20%;
      border: none;
      background-color: #003367;
      padding: 10px 0;
      border-radius: 4px;
      color: White;
      font-size: 14px;
      letter-spacing: 1.25 px;
      margin: 7px 0;
   }
   .logout_button{
      width: 8%;
      border: none;
      background-color: #FFFFFF;
      color: #003367;
      border-radius: 4px;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 1.25 px;
      margin: 17px 0;
      padding: 5px 0;
   }
}




@media screen and (max-width: 980px) {
   .user_page_content{
      height: 100vh;
      .edit_profile_button{
         width: 35%;
      }
   }
}

@media screen and (max-width: 600px) {
   .user_page_content{
      justify-content: center;
      margin: 0 auto;
      .h2_title{
         width: 70%;
         margin-top: 5%;
         margin-left: 10%;
      }
      .edit_profile_button{
         width: 50%;
         margin-top: 5%;
         margin-left: 10%;
      }
      .logout_button{
         margin-top: 7%;
         margin-left: 8%;
      }
   }
   .user_page_img{
      display: none;
   }
}
// @media screen and (max-width: 500px){
//    .user_page_content{
//       margin: 0 auto;
//    }
// }